body{
  font-family: "Helvetica", arial, sans-serif; font-size: 16px;
}

.book-details{
  background-color: lightgray;
  width: 75%;
  padding: 3px;
  margin: 15px;
}

#anch{
  background-color: rgb(168, 233, 64);
  border-radius: 25%;
  padding: 3px 5px 5px 5px;
}
